footer {
  width: 100%;
  min-height: 300px;
  background-color: #1b212b;
  color: #fff;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-footer {
  text-align: center;
}

.box-footer h1 {
  margin-bottom: 20px;
}

.box-footer h1 a {
  color: #fff;
}

.box-footer span {
  font-size: 1rem;
}
